<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Individual
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard"></i> Individual</a>
            </li>
            <li class="active">Dashboard</li>
        </ol>
    </section>
    
    <!-- Main content -->
    <section class="content">
        <!-- Info boxes -->
        <div class="row">

            <div class="stepwizard">
                <div class="stepwizard-row setup-panel">
                    <div class="stepwizard-step">
                        <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
                        <p>Data Pribadi</p>
                    </div>
                    <div class="stepwizard-step">
                        <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                        <p>Data Pendukung</p>
                    </div>
                    <!-- <div class="stepwizard-step">
                        <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                        <p>Step 3</p>
                    </div> -->
                </div>
            </div>
            <form role="form">
                <div class="row setup-content" id="step-1">
                    <div class="col-md-12">
                        <div class="col-md-9 col-md-offset-1">
                            <h3>Data Pribadi</h3>
                            <div class="row">
                                <form>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Nama Lengkap</label>
                                            <input type="text" name="email" [(ngModel)]="registrasi.name" required placeholder="Enter Name Here.." class="form-control">
                                        </div>
                                        <div class="row">
                                            <!-- <div class="form-group"> -->
                                            <label class="col-sm-2 control-label" id="labelJenisKelamin">Jenis Kelamin*</label>
                                            <div class="col-sm-10">
                                                <div class="col-sm-2 mt-radio-inline">
                                                    <label class="mt-radio mt-radio-outline uppercase">
                                                        <input type="radio" name="jenisKelamin" [(ngModel)]="lendPersonal.jenKel" value="L"> Laki-laki
                                                    </label>
                                                </div>
                                                <div class="col-sm-3 mt-radio-inline">
                                                    <label class="mt-radio mt-radio-outline uppercase">
                                                        <input type="radio" name="jenisKelamin" [(ngModel)]="lendPersonal.jenKel" value="P"> Perempuan

                                                    </label>
                                                </div>
                                            </div>
                                            <!-- </div> -->
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4 input-inline">
                                                <label>Tempat lahir</label>
                                                <input maxlength="15" name="tempatLahir" inputFilter="noSpecialChar" type="text" [(ngModel)]="lendPersonal.tempatLahir" required class="form-control input-inline input-small" placeholder="">
                                            </div>
                                            <div class="col-sm-4 input-inline">
                                                <label>Tanggal lahir</label>
                                                <input type="text" name="tanggalLahir" class="form-control input-inline input-small" [(ngModel)]="lendPersonal.tanggalLahir" required matInput [matDatepicker]="TglBerlakuStr" (click)="TglBerlakuStr.open()"
                                                    placeholder="">
                                                <mat-datepicker #TglBerlakuStr startView="year" [startAt]="startDate"></mat-datepicker>
                                            </div>

                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <label>Alamat Perusahaan</label>
                                            <textarea type="text" name="address" required [(ngModel)]="registrasi.address" class="form-control"></textarea>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-4 form-group">
                                                <label>Provinsi</label>
                                                <div class="input-icon left">
                                                    <input type="text" class="form-control" placeholder="" matInput [formControl]="myControlProvinsi" [matAutocomplete]="autoProv"
                                                        [(ngModel)]="provinsi">
                                                    <mat-autocomplete #autoProv="matAutocomplete" [displayWith]="displayFnProv">
                                                        <mat-option *ngFor="let dataProvinsi of filteredProvinsi | async" [value]="dataProvinsi" (onSelectionChange)="changeProv(dataProvinsi)">
                                                            <span>{{ dataProvinsi.name }}</span>
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 form-group">
                                                <label>City</label>
                                                <div class="input-icon left">
                                                    <input type="text" class="form-control" placeholder="" matInput [formControl]="myControlCity" [matAutocomplete]="autoCity"
                                                        [(ngModel)]="city">
                                                    <mat-autocomplete #autoCity="matAutocomplete" [displayWith]="displayFnProv">
                                                        <mat-option *ngFor="let dataCity of filteredCity | async" [value]="dataCity" (onSelectionChange)="changeCity(dataCity)">
                                                            <span>{{ dataCity.name }}</span>
                                                        </mat-option>
                                                    </mat-autocomplete>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 form-group">
                                                <label>Postal Code</label>
                                                <input type="text" [(ngModel)]="registrasi.postalCode" name="postal" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3 form-group">
                                                <label>Phone</label>
                                                <div class="input-group">
                                                    <input type="text" name="phone" required [(ngModel)]="registrasi.phone" placeholder="Enter Phone Here.." class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-sm-5 form-group">
                                                <label>Email</label>
                                                <div class="form-group">
                                                    <input type="text" name="email" [(ngModel)]="registrasi.email" required placeholder="Enter Email Here.." class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Pekerjaan</label>
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="" matInput [formControl]="myControlProvinsi" [matAutocomplete]="autoProv"
                                                    [(ngModel)]="provinsi">
                                                <mat-autocomplete #autoProv="matAutocomplete" [displayWith]="displayFnProv">
                                                    <mat-option *ngFor="let dataProvinsi of filteredProvinsi | async" [value]="dataProvinsi" (onSelectionChange)="changeProv(dataProvinsi)">
                                                        <span>{{ dataProvinsi.name }}</span>
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Next</button>
                        </div>
                    </div>
                </div>
                <div class="row setup-content" id="step-2">
                    <div class="col-xs-12">
                        <div class="col-md-9 col-md-offset-1">
                            <h3>Data Pendukung</h3>
                            <div class="form-group">
                                <label class="control-label">Nomor KTP</label>
                                <input name="email" maxlength="16" type="text" [(ngModel)]="lendPersonal.noKtp" required="required" class="form-control" placeholder="Nomor KTP" />
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <label class="control-label">Upload KTP</label>
                                    <input name="username" type="file" id="ktp" (change)="onFileChangeKtp($event)" #ktp required="required" class="form-control" placeholder="username" />

                                </div>
                                <br>
                                <span style="margin-top: 10px;">*)Format gambar *.jpg *.png (maksimal 2MB)</span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Nomor NPWP</label>
                                <input name="email" maxlength="16" type="text" [(ngModel)]="lendPersonal.noNpwp" required="required" class="form-control" placeholder="Nomor KTP" />
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <label class="control-label">Upload NPWP</label>
                                    <input name="username" type="file" id="npwp" (change)="onFileChangeNpwp($event)" #npwp  required="required" class="form-control" placeholder="username" />
                                </div>
                                <br>
                                <span style="margin-top: 10px;">*)Format gambar *.jpg *.png (maksimal 2MB)</span>
                            </div>
                            <button class="btn btn-primary nextBtn btn-lg pull-right" type="submit" (click)="register()">Register Me!</button>
                        </div>
                    </div>
                </div>
                <!-- <div class="row setup-content" id="step-3">
                    <div class="col-xs-12">
                        <div class="col-md-12">
                            <h3> Step 3</h3>
                            <div class="form-group">
                                <label class="control-label">Password</label>
                                <input name="password" maxlength="200" type="password" required="required" class="form-control" placeholder="Enter Company Name" />
                            </div>
                            <div class="form-group">
                                <label class="control-label">Repeat Password</label>
                                <input name="rpassword" maxlength="200" type="text" required="required" class="form-control" placeholder="username" />
                            </div>
                            <button class="btn btn-success btn-lg pull-right" type="submit">Register Me!</button>
                        </div>
                    </div>
                </div> -->
            </form>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->