<div class="container">
    <div class="row">
		
	</div>
    
    <div class="row">
        <div class="col-sm-offset-4 col-sm-4">
            <form method="post">
				<div class="form-group">
        			<label for="validate-email">Insert Code Here</label>
					<div class="input-group" data-validate="email">
						<input type="text" class="form-control" name="validate-email" id="validate-email" [(ngModel)]="activation.actvKey" placeholder="Insert token" required>
						<span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
					</div>
				</div>
                <button type="submit" class="btn btn-primary col-xs-12" (click)="onActiv()">Submit</button>
            </form>
        </div>
    </div>
</div>