<app-login *ngIf="this.route =='/login'"></app-login>
<app-signup *ngIf="this.route =='/signup'"></app-signup>
<app-activation *ngIf="this.route =='/activation'"></app-activation>
<div *ngIf="(this.route !='/login' && this.route !='/signup' && this.route !='/activation' )">
    <app-header></app-header>
    <app-sidebar></app-sidebar>
    <app-sidecontrol></app-sidecontrol>
    <section class="main-container">
     
        <router-outlet></router-outlet>
        
    </section>
    <app-footer></app-footer>
</div>