<div class="container">
        <ng-progress></ng-progress>
        <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Sign Up</div>
                </div>
                <div class="panel-body">
    
                    <div class="row">
                        <form>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Email Address</label>
                                    <input type="text" name="email" [(ngModel)]="registrasi.email" placeholder="Enter Email Address Here.." class="form-control">
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 form-group">
                                        <label>Name</label>
                                        <input type="text" name="nama" [(ngModel)]="registrasi.name" placeholder="Enter First Name Here.." class="form-control">
                                    </div>
                                    <div class="col-sm-6 form-group">
                                    <label>Phone</label>
                                    <div  class="input-group">
                                        <span class="input-group-addon">+62</span>
                                        <input type="text" name="phone" [(ngModel)]="registrasi.phone" placeholder="Enter Phone Here.." class="form-control" >
                                    </div>
                                        <!-- <label>Phone</label>
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input type="text" name="phone" [(ngModel)]="registrasi.phone" placeholder="Enter Passowrd Here.." class="form-control" > -->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" name="password" [(ngModel)]="registrasi.password" placeholder="Enter Password Here.." class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Address</label>
                                    <textarea type="text" name="address" [(ngModel)]="registrasi.address" placeholder="Enter Email Address Here.." class="form-control"></textarea>
                                </div>
    
                                <div class="row">
                                    <div class="col-sm-4 form-group">
                                        <label>Provinsi</label>
                                        <div class="input-icon left">
                                            <input type="text" class="form-control" placeholder="" matInput [formControl]="myControlProvinsi" [matAutocomplete]="autoProv" [(ngModel)]="provinsi">
                                            <mat-autocomplete #autoProv="matAutocomplete" [displayWith]="displayFnProv">
                                                <mat-option *ngFor="let dataProvinsi of filteredProvinsi | async" [value]="dataProvinsi" (onSelectionChange)="changeProv(dataProvinsi)">
                                                    <span>{{ dataProvinsi.name }}</span>
                                                </mat-option>
                                            </mat-autocomplete>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 form-group">
                                        <label>City</label>
                                        <div class="input-icon left">
                                            <input type="text" class="form-control" placeholder="" matInput [formControl]="myControlCity" [matAutocomplete]="autoCity" [(ngModel)]="city">
                                            <mat-autocomplete #autoCity="matAutocomplete" [displayWith]="displayFnProv">
                                                <mat-option *ngFor="let dataCity of filteredCity | async" [value]="dataCity" (onSelectionChange)="changeCity(dataCity)">
                                                    <span>{{ dataCity.name }}</span>
                                                </mat-option>
                                            </mat-autocomplete>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 form-group">
                                        <label>Postal Code</label>
                                        <input type="text" [(ngModel)]="registrasi.postalCode" name="postal"  class="form-control">
                                    </div>
    
                                </div>
    
                                <div class="form-group">
                                    <label>Send Notif</label>
                                    <select class="form-control" name="actv" [(ngModel)]="registrasi.emailAktifasi">
                                        <option class="dropdown-item" value="yes" >Email</option>
                                        <option class="dropdown-item" value="no">Handphone</option>
                                    </select>
                                </div>
    
                                <div class="col-md-offset-3 col-md-9">
                                    <button id="btn-signup" type="button" class="btn btn-info"  (click)="onSave()"><i class="icon-hand-right"></i> Sign Up</button>
                                    <span style="margin-left:8px;margin-right:8px;">or</span>
                                    <a [routerLink]="['/login']" class="nav-link ">
                                        <span class="title">Sign In here</span>
                                    </a>
    
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    
        </div>
    </div>