/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.headerMenu {
  color: white;
}

.headerMenu:hover,
.headerMenu:focus,
.headerMenu:active {
  color: white;
  background-color: #3f4457 !important;
}

.activeHeader,
.activeHeader:hover,
.activeHeader:focus,
.activeHeader:active {
  background-color: #3f4457;
}

.cdk-overlay-container {
  z-index: 10055;
}

.noMarginBottomForm {
  margin-bottom: 0px;
}

.jariTitle {
  line-height: 3;
}

.jariImageName {
  line-height: 2.2;
}

.panel .panel-body {
  font-size: 14px;
}

input,
textarea {
  text-transform: uppercase;
}

table>tr>td {
  text-transform: uppercase;
}

/* .manajemenDataMaster input, .manajemenDataMaster textarea{
    text-transform: none;
} */

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Tahoma";
}

.help-inline {
  display: none;
}

.checkbox-table {
  margin-bottom: 15px;
}

.edited-row {
  color: #a3a3a3;
}

.table-hover>tbody>.edited-row:hover>td{
    background-color: #d9edf7 !important;
}

/* .control-label{
    font-weight: 700 !important;
} */

/*@media only screen and (min-width: 768px){
    .page-sidebar-wrapper{
        position: fixed;
    }
}*/


.stepwizard-step p {
  margin-top: 10px;
}

.stepwizard-row {
  display: table-row;
}

.stepwizard {
  display: table;
  width: 100%;
  position: relative;
}

.stepwizard-step button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-order: 0;

}

.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}

.btn-circle {
width: 30px;
height: 30px;
text-align: center;
padding: 6px 0;
font-size: 12px;
line-height: 1.428571429;
border-radius: 15px;
}